@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@Kit.Page.Activate("2sxc.JsCore")

<script>
  const specsQueryFilterDemo = {
    moduleId: @MyContext.Module.Id,
    outputId: "query-filter-output-@UniqueKey",
    stream: "Authors"
  };
  const withFilter = {
    ...specsQueryFilterDemo,
    '$filter': "FirstName eq 'Douglas'"
  };
</script>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load(specsQueryFilterDemo)">
  Load query results
</button>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load(withFilter)">
  Load with $filter
</button>

<div style="overflow-x:auto;" id="query-filter-output-@UniqueKey">
  <code></code><br />
  <table style="width:100%; border-collapse:collapse;" class="table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>

<script src="@App.Folder.Url/tutorials/js-data/js/get-query-odata.js" @Kit.Page.AssetAttributes()></script>